## Importing the libraries

In [2]:
# !sudo apt-get install python3-pip
# !sudo python3 -m pip install ipykernel
# !pip3 install pandas

import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dask.dataframe as dd
from google.colab import drive

#### Function to read the csv files

In [70]:
def read_csv(filename):
    with open(filename) as f:
        reader = csv.reader(f)
        for row in reader:
            print(row)

In [71]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# New Section

In [72]:
# read_csv("./judges_clean.csv")

# Converting the CSV files to Pandas dataframe

In [73]:
df_judges = pd.read_csv("/content/drive/Shareddrives/Precog/Precog/judges_clean.csv")
df_judges.head(100)

,ddl_judge_id,state_code,dist_code,court_no,judge_position,female_judge,start_date,end_date
0,1,1,1,1,chief judicial magistrate,0 nonfemale,20-09-2013,20-02-2014
1,2,1,1,1,chief judicial magistrate,0 nonfemale,31-10-2013,20-02-2014
2,3,1,1,1,chief judicial magistrate,0 nonfemale,21-02-2014,31-05-2016
3,4,1,1,1,chief judicial magistrate,0 nonfemale,01-06-2016,06-06-2016
4,5,1,1,1,chief judicial magistrate,0 nonfemale,06-06-2016,07-07-2018
...,...,...,...,...,...,...,...,...
95,96,1,1,4,civil judge junior division,0 nonfemale,01-03-2007,01-06-2015
96,97,1,1,4,civil judge junior division,0 nonfemale,01-06-2015,31-08-2017
97,98,1,1,4,civil judge junior division,0 nonfemale,04-06-2018,NaN
98,99,1,1,4,civil judge senior division,0 nonfemale,01-03-2007,04-06-2012
99,100,1,1,4,civil judge senior division,0 nonfemale,06-06-2011,07-06-2013

In [74]:
df_judges.head(10)
print("The number of unique type of gender of judges in the data : ")
df_judges["female_judge"].unique()

The number of unique type of gender of judges in the data :

array(['0 nonfemale', '1 female', '-9998 unclear', nan], dtype=object)

In [75]:
print("The count of those types : ")
df_judges["female_judge"].value_counts()

The count of those types :

0 nonfemale      67540
1 female         27202
-9998 unclear     3735
Name: female_judge, dtype: int64

In [76]:
#Removing the -9998 unclear rows
df_judges=df_judges[df_judges["female_judge"] != "-9998 unclear"]
df_judges["female_judge"].unique()

array(['0 nonfemale', '1 female', nan], dtype=object)

In [77]:
# Converting the strings to numbers
# "0 nonfemale" & to 0
# "1 female" to 1
# df_judges.loc.__setitem__((slice(None),("female_judge","1 female")),0)
df_judges["female_judge"]=(df_judges["female_judge"]=="1 female").astype(int)
df_judges.head(10)
# preprocessed data for finding out female or not

,ddl_judge_id,state_code,dist_code,court_no,judge_position,female_judge,start_date,end_date
0,1,1,1,1,chief judicial magistrate,0,20-09-2013,20-02-2014
1,2,1,1,1,chief judicial magistrate,0,31-10-2013,20-02-2014
2,3,1,1,1,chief judicial magistrate,0,21-02-2014,31-05-2016
3,4,1,1,1,chief judicial magistrate,0,01-06-2016,06-06-2016
4,5,1,1,1,chief judicial magistrate,0,06-06-2016,07-07-2018
5,6,1,1,1,chief judicial magistrate,1,09-07-2018,NaN
6,7,1,1,1,civil judge junior division,0,01-06-2011,09-06-2013
7,8,1,1,1,civil judge junior division,0,06-06-2011,08-06-2014
8,9,1,1,1,civil judge junior division,0,11-06-2012,31-05-2015
9,10,1,1,1,civil judge junior division,0,29-08-2013,08-06-2014

In [78]:
print("Percentage Of Female Judge In India : ")
value=df_judges["female_judge"].value_counts()
male=value[0]  # assuming the unclear gender to be maintaing the same ratio. The national average is given by :-
female=value[1]
national_average=female/(male+female)
print(national_average*100)

Percentage Of Female Judge In India :
28.71135598408326

In [79]:
print("The count of those types : ") # Trying to find out effect of position on female representation
df_judges["judge_position"].value_counts()
# male=value[0]  # assuming the unclear gender to be maintaing the same ratio. The national average is given by :-
# female=value[1]
# national_average=female/male
# print(national_average)

The count of those types :

district and sessions court                       19771
chief judicial magistrate                         14224
civil judge senior division                       13438
civil judge junior division                        9726
civil court                                        4645
                                                  ...
j.m 1st class cum addl. munsif-ii                     1
presiding officer ftc i                               1
v-addl.munsif- iii                                    1
adhoc addl. distt. and sess. judge - ii               1
court no. 5 of j.m 1st class, muzaffarpur east        1
Name: judge_position, Length: 565, dtype: int64

### Checking the cases that were closed within a year

In [80]:
closed_within_year=0
not_closed_within_year=0
df_judges["start_date"]=pd.to_datetime(df_judges["start_date"])
df_judges["end_date"]=pd.to_datetime(df_judges["end_date"])

df_judges.head()
temp_df=(df_judges["end_date"]-df_judges["start_date"])
temp_df=temp_df.dt.days



closed_within_year=temp_df[temp_df<=365].count()
not_closed_within_year=temp_df[temp_df>365].count()


print("Closed within a year : ",closed_within_year)
print("Not closed within a year : ",not_closed_within_year)

Closed within a year :  44120
Not closed within a year :  32932

### Count the number of judges in each state

In [81]:
# Count the number of judges in each state
judgesperstate=df_judges["state_code"].value_counts()
df_judgesperstate=pd.DataFrame(judgesperstate)

df_judgesperstate["State_code"]=df_judgesperstate.index
df_judgesperstate.rename(columns={"state_code":"Number_of_judges"},inplace=True)
df_judgesperstate.reset_index(drop=True,inplace=True)
df_judgesperstate["State_name"]="temp"

print(df_judgesperstate)

    Number_of_judges  State_code State_name
0              21987           1       temp
1              13999          13       temp
2               6440           3       temp
3               5583          23       temp
4               5390           9       temp
5               4949          17       temp
6               4121           8       temp
7               3655          10       temp
8               3492           2       temp
9               3060           4       temp
10              2677          16       temp
11              2568          29       temp
12              2321          14       temp
13              2283           7       temp
14              2034          11       temp
15              1921          22       temp
16              1550           6       temp
17              1457          26       temp
18              1078          15       temp
19              1032          18       temp
20               899          12       temp
21               897           5       temp
22               438          20       temp
23               324          30       temp
24               165          24       temp
25               148          21       temp
26               140          27       temp
27                98          25       temp
28                37          19       temp

In [82]:
# Getting the state codes 

df_statecodes=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")

#storing only on basis of 2018 codes
df_statecodes=df_statecodes[df_statecodes["year"]==2018]
df_statecodes.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
df_statecodes.sort_values(by="state_code",inplace=True)
df_statecodes.reset_index(drop=True,inplace=True)
print(df_statecodes)

    state_code         state_name
0            1        Maharashtra
1            2     Andhra Pradesh
2            3          Karnataka
3            4             Kerala
4            5   Himachal Pradesh
5            6              Assam
6            7          Jharkhand
7            8              Bihar
8            9          Rajasthan
9           10         Tamil Nadu
10          11             Orissa
11          12  Jammu and Kashmir
12          13      Uttar Pradesh
13          14            Haryana
14          15        Uttarakhand
15          16        West Bengal
16          17            Gujarat
17          18       Chhattisgarh
18          19            Mizoram
19          20            Tripura
20          21          Meghalaya
21          22             Punjab
22          23     Madhya Pradesh
23          24             Sikkim
24          25            Manipur
25          26              Delhi
26          27         Chandigarh
27          29          Telangana
28          30                Goa
29          31      Diu and Daman
30          32     DNH at Silvasa
31          33             Ladakh

In [83]:
#assigning the state names to the state codes
for i in range(len(df_judgesperstate)):
    df_judgesperstate.loc[i,"State_name"]=df_statecodes.loc[i,"state_name"]

df_judgesperstate.drop("State_code",axis=1,inplace=True)
print(df_judgesperstate)

    Number_of_judges         State_name
0              21987        Maharashtra
1              13999     Andhra Pradesh
2               6440          Karnataka
3               5583             Kerala
4               5390   Himachal Pradesh
5               4949              Assam
6               4121          Jharkhand
7               3655              Bihar
8               3492          Rajasthan
9               3060         Tamil Nadu
10              2677             Orissa
11              2568  Jammu and Kashmir
12              2321      Uttar Pradesh
13              2283            Haryana
14              2034        Uttarakhand
15              1921        West Bengal
16              1550            Gujarat
17              1457       Chhattisgarh
18              1078            Mizoram
19              1032            Tripura
20               899          Meghalaya
21               897             Punjab
22               438     Madhya Pradesh
23               324             Sikkim
24               165            Manipur
25               148              Delhi
26               140         Chandigarh
27                98          Telangana
28                37                Goa

**Female Judges Representation In different States over the Years (2014-2019)**

In [84]:
whole_data = pd.read_csv("/content/drive/Shareddrives/Precog/Precog/judges_clean.csv")
# Removing the Unclear data
whole_data=whole_data[whole_data["female_judge"] != "-9998 unclear"]
whole_data["female_judge"]=(whole_data["female_judge"]=="1 female").astype(int)
# whole_data.drop["dist_code","court_no","ddl_judge_id","judge_position","start_date","end_date"]
whole_data.drop(whole_data.columns[[0,2,3,4]],axis=1,inplace=True)
whole_data.head(100)
# whole_data.max()
# whole_data.min()

    state_code  female_judge  start_date    end_date
0            1             0  20-09-2013  20-02-2014
1            1             0  31-10-2013  20-02-2014
2            1             0  21-02-2014  31-05-2016
3            1             0  01-06-2016  06-06-2016
4            1             0  06-06-2016  07-07-2018
..         ...           ...         ...         ...
95           1             0  01-03-2007  01-06-2015
96           1             0  01-06-2015  31-08-2017
97           1             0  04-06-2018         NaN
98           1             0  01-03-2007  04-06-2012
99           1             0  06-06-2011  07-06-2013

[100 rows x 4 columns]

In [85]:
data_2014=pd.DataFrame()
data_2014=whole_data[whole_data["end_date"] >= ("01-01-2014")]
data_2014=data_2014[data_2014["start_date"] <= ("01-01-2014")]
data_2015=pd.DataFrame()
data_2015=whole_data[whole_data["end_date"] >= ("01-01-2015")]
data_2015=data_2015[data_2015["start_date"] <= ("01-01-2015")]
data_2016=pd.DataFrame()
data_2016=whole_data[whole_data["end_date"] >= ("01-01-2016")]
data_2016=data_2016[data_2016["start_date"] <= ("01-01-2016")]
data_2017=pd.DataFrame()
data_2017=whole_data[whole_data["end_date"] >= ("01-01-2017")]
data_2017=data_2017[data_2017["start_date"] <= ("01-01-2017")]
data_2018=pd.DataFrame()
data_2018=whole_data[whole_data["end_date"] >= ("01-01-2018")]
data_2018=data_2018[data_2018["start_date"] <= ("01-01-2018")]
data_2019=pd.DataFrame()
data_2019=whole_data[whole_data["end_date"] >= ("01-01-2019")]
data_2019=data_2019[data_2019["start_date"] <= ("01-01-2019")]
# data_2019.count()

In [86]:
# Analysing 2014 female judge represenatation state wise


# data_2014.max()
# state_code              30
# female_judge             1
# start_date      01-01-2014
# end_date        31-12-2015

# data_2014.min()
# state_code               1
# female_judge             0
# start_date      01-01-1995
# end_date        01-01-2015

# data_2014["state_code"].value_counts() 
jdg_female=pd.DataFrame()
jdg_female=data_2014[data_2014["female_judge"] == 1]
temp_2014=jdg_female["state_code"].value_counts()
jdg_2014_f=pd.DataFrame(temp_2014)
jdg_2014_f["State_Code"]=jdg_2014_f.index
jdg_2014_f.rename(columns={"state_code":"Number_of_Female_Judges"},inplace=True)
jdg_2014_f.reset_index(drop=True,inplace=True)
jdg_2014_f.head(10)

   Number_of_Female_Judges  State_Code
0                       56           1
1                       37          16
2                       32          23
3                       22           3
4                       22          10
5                       14          15
6                       12          12
7                        9          17
8                        9          29
9                        8           2

In [87]:
jdg_total = data_2014["state_code"].value_counts()
jdg_2014=pd.DataFrame(jdg_total)
jdg_2014["State_Code"]=jdg_2014.index
jdg_2014.rename(columns={"state_code":"Number_of_Judges"},inplace=True)
jdg_2014.reset_index(drop=True,inplace=True)
jdg_2014["State_name"]="temp"
jdg_2014=pd.merge(jdg_2014,jdg_2014_f,how="outer",on="State_Code")
jdg_2014["Number_of_Female_Judges"]=jdg_2014['Number_of_Female_Judges'].fillna(0)
jdg_2014 = jdg_2014.astype({'Number_of_Female_Judges':'int'})
state_code_2014=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2014=state_code_2014[state_code_2014["year"]==2014]
state_code_2014.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2014.sort_values(by="state_code",inplace=True)
state_code_2014.reset_index(drop=True,inplace=True)
for i in range (len(jdg_2014)):
  jdg_2014.loc[i,"State_name"]=state_code_2014.loc[i,"state_name"]

jdg_2014.drop("State_Code",axis=1,inplace=True)
jdg_2014

    Number_of_Judges         State_name  Number_of_Female_Judges
0                231        Maharashtra                       56
1                150     Andhra Pradesh                       32
2                 95          Karnataka                        7
3                 93             Kerala                       37
4                 82   Himachal Pradesh                       12
5                 79              Assam                       22
6                 54          Jharkhand                       22
7                 37              Bihar                        4
8                 27          Rajasthan                        9
9                 26         Tamil Nadu                        2
10                23             Orissa                        8
11                23  Jammu and Kashmir                        4
12                22      Uttar Pradesh                        7
13                21            Haryana                        9
14                17        Uttarakhand                       14
15                14        West Bengal                        3
16                 9            Gujarat                        0
17                 8       Chhattisgarh                        0
18                 8            Mizoram                        5
19                 7            Tripura                        0
20                 4          Meghalaya                        0
21                 2             Punjab                        0
22                 2     Madhya Pradesh                        2
23                 2             Sikkim                        0
24                 1            Manipur                        1
25                 1              Delhi                        1
26                 1         Chandigarh                        0

In [88]:
jdg_female=pd.DataFrame()
jdg_female=data_2015[data_2015["female_judge"] == 1]
temp_2015=jdg_female["state_code"].value_counts()
jdg_2015_f=pd.DataFrame(temp_2015)
jdg_2015_f["State_Code"]=jdg_2015_f.index
jdg_2015_f.rename(columns={"state_code":"Number_of_Female_Judges"},inplace=True)
jdg_2015_f.reset_index(drop=True,inplace=True)
jdg_total = data_2015["state_code"].value_counts()
jdg_2015=pd.DataFrame(jdg_total)
jdg_2015["State_Code"]=jdg_2015.index
jdg_2015.rename(columns={"state_code":"Number_of_Judges"},inplace=True)
jdg_2015.reset_index(drop=True,inplace=True)
jdg_2015["State_name"]="temp"
jdg_2015=pd.merge(jdg_2015,jdg_2015_f,how="outer",on="State_Code")
jdg_2015["Number_of_Female_Judges"]=jdg_2015['Number_of_Female_Judges'].fillna(0)
jdg_2015 = jdg_2015.astype({'Number_of_Female_Judges':'int'})
state_code_2015=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2015=state_code_2015[state_code_2015["year"]==2015]
state_code_2015.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2015.sort_values(by="state_code",inplace=True)
state_code_2015.reset_index(drop=True,inplace=True)
for i in range (len(jdg_2015)):
  jdg_2015.loc[i,"State_name"]=state_code_2015.loc[i,"state_name"]

jdg_2015.drop("State_Code",axis=1,inplace=True)
jdg_2015

    Number_of_Judges         State_name  Number_of_Female_Judges
0                289        Maharashtra                       66
1                176     Andhra Pradesh                       39
2                153          Karnataka                       14
3                 94             Kerala                       37
4                 83   Himachal Pradesh                       12
5                 79              Assam                       22
6                 65          Jharkhand                       27
7                 53              Bihar                       26
8                 37          Rajasthan                        4
9                 33         Tamil Nadu                        5
10                27             Orissa                        9
11                26  Jammu and Kashmir                        2
12                23      Uttar Pradesh                        9
13                22            Haryana                        7
14                18        Uttarakhand                       14
15                14        West Bengal                        3
16                 9            Gujarat                        0
17                 9       Chhattisgarh                        0
18                 9            Mizoram                        5
19                 8            Tripura                        0
20                 4          Meghalaya                        0
21                 3             Punjab                        1
22                 2     Madhya Pradesh                        0
23                 2             Sikkim                        2
24                 1            Manipur                        1
25                 1              Delhi                        1
26                 1         Chandigarh                        0

In [89]:
jdg_female=pd.DataFrame()
jdg_female=data_2016[data_2016["female_judge"] == 1]
temp_2016=jdg_female["state_code"].value_counts()
jdg_2016_f=pd.DataFrame(temp_2016)
jdg_2016_f["State_Code"]=jdg_2016_f.index
jdg_2016_f.rename(columns={"state_code":"Number_of_Female_Judges"},inplace=True)
jdg_2016_f.reset_index(drop=True,inplace=True)
jdg_total = data_2016["state_code"].value_counts()
jdg_2016=pd.DataFrame(jdg_total)
jdg_2016["State_Code"]=jdg_2016.index
jdg_2016.rename(columns={"state_code":"Number_of_Judges"},inplace=True)
jdg_2016.reset_index(drop=True,inplace=True)
jdg_2016["State_name"]="temp"
jdg_2016=pd.merge(jdg_2016,jdg_2016_f,how="outer",on="State_Code")
jdg_2016["Number_of_Female_Judges"]=jdg_2016['Number_of_Female_Judges'].fillna(0)
jdg_2016 = jdg_2016.astype({'Number_of_Female_Judges':'int'})
state_code_2016=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2016=state_code_2016[state_code_2016["year"]==2016]
state_code_2016.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2016.sort_values(by="state_code",inplace=True)
state_code_2016.reset_index(drop=True,inplace=True)
for i in range (len(jdg_2016)):
  jdg_2016.loc[i,"State_name"]=state_code_2016.loc[i,"state_name"]

jdg_2016.drop("State_Code",axis=1,inplace=True)
jdg_2016

    Number_of_Judges         State_name  Number_of_Female_Judges
0                308        Maharashtra                       72
1                176     Andhra Pradesh                       39
2                158          Karnataka                       14
3                 94             Kerala                       37
4                 86   Himachal Pradesh                       12
5                 79              Assam                       22
6                 66          Jharkhand                       27
7                 59              Bihar                       28
8                 38          Rajasthan                        4
9                 33         Tamil Nadu                        5
10                30             Orissa                        9
11                26  Jammu and Kashmir                        2
12                24      Uttar Pradesh                        9
13                22            Haryana                        7
14                18        Uttarakhand                       14
15                15        West Bengal                        3
16                 9            Gujarat                        0
17                 9       Chhattisgarh                        0
18                 9            Mizoram                        5
19                 8            Tripura                        0
20                 5          Meghalaya                        0
21                 3             Punjab                        1
22                 2     Madhya Pradesh                        0
23                 2             Sikkim                        2
24                 1            Manipur                        1
25                 1              Delhi                        1
26                 1         Chandigarh                        0

In [90]:
jdg_female=pd.DataFrame()
jdg_female=data_2017[data_2017["female_judge"] == 1]
temp_2017=jdg_female["state_code"].value_counts()
jdg_2017_f=pd.DataFrame(temp_2017)
jdg_2017_f["State_Code"]=jdg_2017_f.index
jdg_2017_f.rename(columns={"state_code":"Number_of_Female_Judges"},inplace=True)
jdg_2017_f.reset_index(drop=True,inplace=True)
jdg_total = data_2017["state_code"].value_counts()
jdg_2017=pd.DataFrame(jdg_total)
jdg_2017["State_Code"]=jdg_2017.index
jdg_2017.rename(columns={"state_code":"Number_of_Judges"},inplace=True)
jdg_2017.reset_index(drop=True,inplace=True)
jdg_2017["State_name"]="temp"
jdg_2017=pd.merge(jdg_2017,jdg_2017_f,how="outer",on="State_Code")
jdg_2017["Number_of_Female_Judges"]=jdg_2017['Number_of_Female_Judges'].fillna(0)
jdg_2017 = jdg_2017.astype({'Number_of_Female_Judges':'int'})
state_code_2017=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2017=state_code_2017[state_code_2017["year"]==2017]
state_code_2017.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2017.sort_values(by="state_code",inplace=True)
state_code_2017.reset_index(drop=True,inplace=True)
for i in range (len(jdg_2017)):
  jdg_2017.loc[i,"State_name"]=state_code_2017.loc[i,"state_name"]

jdg_2017.drop("State_Code",axis=1,inplace=True)
jdg_2017

    Number_of_Judges         State_name  Number_of_Female_Judges
0                316        Maharashtra                       72
1                178     Andhra Pradesh                       39
2                162          Karnataka                       15
3                 95             Kerala                       37
4                 86   Himachal Pradesh                       12
5                 79              Assam                       22
6                 69          Jharkhand                       27
7                 59              Bihar                       28
8                 38          Rajasthan                        4
9                 33         Tamil Nadu                       11
10                33             Orissa                        5
11                27  Jammu and Kashmir                       10
12                26      Uttar Pradesh                        2
13                22            Haryana                        7
14                18        Uttarakhand                       14
15                15        West Bengal                        3
16                10            Gujarat                        0
17                 9       Chhattisgarh                        0
18                 9            Mizoram                        5
19                 8            Tripura                        0
20                 5          Meghalaya                        0
21                 3             Punjab                        1
22                 2     Madhya Pradesh                        2
23                 2             Sikkim                        0
24                 1            Manipur                        1
25                 1              Delhi                        1
26                 1         Chandigarh                        0

In [91]:
jdg_female=pd.DataFrame()
jdg_female=data_2018[data_2018["female_judge"] == 1]
temp_2018=jdg_female["state_code"].value_counts()
jdg_2018_f=pd.DataFrame(temp_2018)
jdg_2018_f["State_Code"]=jdg_2018_f.index
jdg_2018_f.rename(columns={"state_code":"Number_of_Female_Judges"},inplace=True)
jdg_2018_f.reset_index(drop=True,inplace=True)
jdg_total = data_2018["state_code"].value_counts()
jdg_2018=pd.DataFrame(jdg_total)
jdg_2018["State_Code"]=jdg_2018.index
jdg_2018.rename(columns={"state_code":"Number_of_Judges"},inplace=True)
jdg_2018.reset_index(drop=True,inplace=True)
jdg_2018["State_name"]="temp"
jdg_2018=pd.merge(jdg_2018,jdg_2018_f,how="outer",on="State_Code")
jdg_2018["Number_of_Female_Judges"]=jdg_2018['Number_of_Female_Judges'].fillna(0)
jdg_2018 = jdg_2018.astype({'Number_of_Female_Judges':'int'})
state_code_2018=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2018=state_code_2018[state_code_2018["year"]==2018]
state_code_2018.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2018.sort_values(by="state_code",inplace=True)
state_code_2018.reset_index(drop=True,inplace=True)
for i in range (len(jdg_2018)):
  jdg_2018.loc[i,"State_name"]=state_code_2018.loc[i,"state_name"]

jdg_2018.drop("State_Code",axis=1,inplace=True)
jdg_2018

    Number_of_Judges         State_name  Number_of_Female_Judges
0                344        Maharashtra                       81
1                179     Andhra Pradesh                       39
2                172          Karnataka                       15
3                 95             Kerala                       37
4                 86   Himachal Pradesh                       12
5                 81              Assam                       22
6                 72          Jharkhand                       34
7                 71              Bihar                       27
8                 38          Rajasthan                        4
9                 33         Tamil Nadu                       11
10                33             Orissa                        5
11                27  Jammu and Kashmir                        2
12                27      Uttar Pradesh                       10
13                23            Haryana                        8
14                18        Uttarakhand                       14
15                15        West Bengal                        3
16                12            Gujarat                        0
17                10       Chhattisgarh                        0
18                 9            Mizoram                        5
19                 9            Tripura                        0
20                 8          Meghalaya                        5
21                 6             Punjab                        0
22                 5     Madhya Pradesh                        0
23                 3             Sikkim                        1
24                 2            Manipur                        2
25                 1              Delhi                        1
26                 1         Chandigarh                        1
27                 1          Telangana                        0

In [92]:
jdg_female=pd.DataFrame()
jdg_female=data_2019[data_2019["female_judge"] == 1]
temp_2019=jdg_female["state_code"].value_counts()
jdg_2019_f=pd.DataFrame(temp_2019)
jdg_2019_f["State_Code"]=jdg_2019_f.index
jdg_2019_f.rename(columns={"state_code":"Number_of_Female_Judges"},inplace=True)
jdg_2019_f.reset_index(drop=True,inplace=True)
jdg_total = data_2019["state_code"].value_counts()
jdg_2019=pd.DataFrame(jdg_total)
jdg_2019["State_Code"]=jdg_2019.index
jdg_2019.rename(columns={"state_code":"Number_of_Judges"},inplace=True)
jdg_2019.reset_index(drop=True,inplace=True)
jdg_2019["State_name"]="temp"
jdg_2019=pd.merge(jdg_2019,jdg_2019_f,how="outer",on="State_Code")
jdg_2019["Number_of_Female_Judges"]=jdg_2019['Number_of_Female_Judges'].fillna(0)
jdg_2019 = jdg_2019.astype({'Number_of_Female_Judges':'int'})
state_code_2019=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2019=state_code_2019[state_code_2019["year"]==2018]
state_code_2019.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2019.sort_values(by="state_code",inplace=True)
state_code_2019.reset_index(drop=True,inplace=True)
for i in range (len(jdg_2019)):
  jdg_2019.loc[i,"State_name"]=state_code_2019.loc[i,"state_name"]

jdg_2019.drop("State_Code",axis=1,inplace=True)
jdg_2019

    Number_of_Judges         State_name  Number_of_Female_Judges
0                365        Maharashtra                       84
1                184     Andhra Pradesh                       17
2                179          Karnataka                       39
3                 96             Kerala                       37
4                 86   Himachal Pradesh                       12
5                 81              Assam                       22
6                 76          Jharkhand                       35
7                 71              Bihar                       27
8                 52          Rajasthan                       19
9                 48         Tamil Nadu                       12
10                38             Orissa                        4
11                33  Jammu and Kashmir                        5
12                29      Uttar Pradesh                        3
13                24            Haryana                        8
14                21        Uttarakhand                       11
15                18        West Bengal                       14
16                16            Gujarat                        3
17                13       Chhattisgarh                        7
18                12            Mizoram                        0
19                10            Tripura                        0
20                 9          Meghalaya                        5
21                 9             Punjab                        0
22                 5     Madhya Pradesh                        0
23                 3             Sikkim                        1
24                 2            Manipur                        2
25                 1              Delhi                        1
26                 1         Chandigarh                        1
27                 1          Telangana                        0

State Wise average Tenure Of Judges

In [25]:
judges=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/judges_clean.csv")
judges.drop(judges.columns[[0,2,3,4,5]],axis=1,inplace=True)
state_code=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code=state_code[state_code["year"]==2018]
state_code.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code.sort_values(by="state_code",inplace=True)
state_code.reset_index(drop=True,inplace=True)
judges=pd.merge(judges,state_code,on="state_code")
judges=judges.dropna()
judges["start_date"]=pd.to_datetime(judges["start_date"],format="%d-%m-%Y",errors='coerce')
judges["end_date"]=pd.to_datetime(judges["end_date"],format="%d-%m-%Y",errors='coerce')
judges["tenure"]=judges["end_date"]-judges["start_date"]
judges=judges.groupby('state_name',as_index=False)["tenure"].mean()
judges

<ipython-input-25-86215d2490e2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  judges["start_date"]=pd.to_datetime(judges["start_date"],format="%d-%m-%Y",errors='coerce')
<ipython-input-25-86215d2490e2>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  judges["end_date"]=pd.to_datetime(judges["end_date"],format="%d-%m-%Y",errors='coerce')
<ipython-input-25-86215d2490e2>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  judges["tenure"]=judges["end_date"]-judges["start_date"]

           state_name                      tenure
0      Andhra Pradesh 425 days 10:19:48.540245568
1               Assam 544 days 21:29:03.702451392
2               Bihar 380 days 18:29:05.199063232
3          Chandigarh           811 days 02:40:00
4        Chhattisgarh 648 days 19:15:06.955177744
5               Delhi 386 days 16:50:35.897435896
6                 Goa 584 days 05:10:41.095890408
7             Gujarat 251 days 03:06:59.906687404
8             Haryana 679 days 13:17:53.759713088
9    Himachal Pradesh 584 days 10:36:05.179856112
10  Jammu and Kashmir 728 days 04:51:42.762430936
11          Jharkhand 461 days 14:36:24.560143624
12          Karnataka 394 days 13:51:47.252298264
13             Kerala 398 days 02:57:25.365486060
14     Madhya Pradesh 654 days 18:30:19.345163712
15        Maharashtra 339 days 10:59:58.934596036
16            Manipur 462 days 14:47:26.511627904
17          Meghalaya 460 days 20:40:23.762376240
18            Mizoram           677 days 00:57:36
19             Orissa 587 days 01:22:48.142762720
20             Punjab 760 days 04:36:26.624704960
21          Rajasthan 439 days 22:15:53.456669912
22             Sikkim    535 days 10:45:07.200000
23         Tamil Nadu 448 days 16:16:05.822333216
24          Telangana 394 days 03:03:24.878048780
25            Tripura 533 days 05:03:09.473684208
26      Uttar Pradesh 315 days 03:53:04.422809456
27        Uttarakhand 533 days 02:26:41.873536296
28        West Bengal 612 days 09:01:39.897225080

Average Case Decision time in States over time

In [132]:
from pandas.core.generic import Axis
cases_2011=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2011.csv")
cases_2011.drop(cases_2011.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2011["date_of_decision"]=pd.to_datetime(cases_2011["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2011["date_of_filing"]=pd.to_datetime(cases_2011["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2011= cases_2011[cases_2011['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2011= cases_2011[cases_2011['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2011["decision_time"]=cases_2011["date_of_decision"]-cases_2011["date_of_filing"]
state_code_2011=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2011=state_code_2011[state_code_2011["year"]==2011]
state_code_2011.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2011.sort_values(by="state_code",inplace=True)
state_code_2011.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2011=pd.merge(cases_2011,state_code_2011,on='state_code')
df_2011=cases_2011.groupby('state_code',as_index=False)["decision_time"].mean()
df_2011=pd.merge(df_2011,state_code_2011,on='state_code')
df_2011

    state_code                decision_time         state_name
0            1  760 days 23:38:09.292223344        Maharashtra
1            2  888 days 15:07:38.284040992     Andhra Pradesh
2            3  564 days 18:43:57.708214104          Karnataka
3            4  878 days 14:41:23.930757120             Kerala
4            5 1021 days 07:55:52.437592144   Himachal Pradesh
5            6  891 days 15:22:58.953635264              Assam
6            7 1410 days 03:19:00.302504128          Jharkhand
7            8 1564 days 16:01:42.073023936              Bihar
8            9 1328 days 06:36:30.331813536          Rajasthan
9           10 1098 days 02:11:10.800418816         Tamil Nadu
10          11 1592 days 19:12:59.260558416             Orissa
11          12  987 days 08:03:55.140431104  Jammu and Kashmir
12          13 1245 days 14:31:34.026535024      Uttar Pradesh
13          14  841 days 22:40:16.355583504            Haryana
14          15  862 days 10:45:46.796726448        Uttarakhand
15          16 1106 days 12:32:44.525255568        West Bengal
16          17  918 days 03:15:16.522595664            Gujarat
17          18 1115 days 17:54:46.197137552       Chhattisgarh
18          19            600 days 06:15:45            Mizoram
19          20  820 days 02:06:21.860107608            Tripura
20          21  692 days 02:45:17.217391304          Meghalaya
21          22  896 days 14:31:43.574742128             Punjab
22          23  792 days 08:46:09.713323160     Madhya Pradesh
23          24  701 days 11:15:38.388625592             Sikkim
24          25 1195 days 22:45:02.465753424            Manipur
25          26  713 days 05:07:49.552063200              Delhi
26          27  795 days 18:39:31.599542792         Chandigarh
27          29  944 days 10:11:38.218754608          Telangana
28          30  389 days 03:13:04.794414276                Goa
29          31  739 days 09:34:31.986417656      Diu and Daman
30          32  910 days 23:25:36.716417904     DNH at Silvasa
31          33           2526 days 16:00:00             Ladakh

In [133]:
from pandas.core.generic import Axis
cases_2012=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2012.csv")
cases_2012.drop(cases_2012.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2012["date_of_decision"]=pd.to_datetime(cases_2012["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2012["date_of_filing"]=pd.to_datetime(cases_2012["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2012= cases_2012[cases_2012['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2012= cases_2012[cases_2012['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2012["decision_time"]=cases_2012["date_of_decision"]-cases_2012["date_of_filing"]
state_code_2012=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2012=state_code_2012[state_code_2012["year"]==2012]
state_code_2012.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2012.sort_values(by="state_code",inplace=True)
state_code_2012.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2012=pd.merge(cases_2012,state_code_2012,on='state_code')
df_2012=cases_2012.groupby('state_code',as_index=False)["decision_time"].mean()
df_2012=pd.merge(df_2012,state_code_2012,on='state_code')
df_2012

    state_code                decision_time         state_name
0            1  704 days 15:04:28.607235760        Maharashtra
1            2  828 days 14:22:21.044737072     Andhra Pradesh
2            3  475 days 12:17:55.245161256          Karnataka
3            4  710 days 23:27:04.291885792             Kerala
4            5  736 days 09:38:36.256818216   Himachal Pradesh
5            6  749 days 21:37:36.720185096              Assam
6            7  997 days 15:40:43.820277440          Jharkhand
7            8 1237 days 15:55:41.259759280              Bihar
8            9  958 days 23:43:42.087412896          Rajasthan
9           10  936 days 21:54:06.249002384         Tamil Nadu
10          11 1206 days 16:01:30.372694768             Orissa
11          12  718 days 06:39:59.787957760  Jammu and Kashmir
12          13  921 days 08:26:02.864334688      Uttar Pradesh
13          14  701 days 11:52:27.838457144            Haryana
14          15  694 days 14:58:26.180654704        Uttarakhand
15          16  768 days 03:15:29.497486080        West Bengal
16          17  733 days 20:04:03.430576344            Gujarat
17          18  917 days 18:30:44.029204304       Chhattisgarh
18          19  212 days 19:49:47.055393588            Mizoram
19          20  671 days 23:49:00.394279096            Tripura
20          21  644 days 09:39:01.747572816          Meghalaya
21          22  641 days 05:36:52.554744528             Punjab
22          23  726 days 04:31:43.441533232     Madhya Pradesh
23          24  400 days 20:49:50.519187360             Sikkim
24          25  702 days 01:53:55.694572216            Manipur
25          26  652 days 12:40:43.763916552              Delhi
26          27  583 days 16:45:50.645327824         Chandigarh
27          29  819 days 16:46:43.140070224          Telangana
28          30  348 days 22:49:34.478499008                Goa
29          31  411 days 15:01:37.297297296      Diu and Daman
30          32  853 days 13:09:15.949367088     DNH at Silvasa
31          33           2270 days 20:00:00             Ladakh

In [134]:
from pandas.core.generic import Axis
cases_2013=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2013.csv")
cases_2013.drop(cases_2013.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2013["date_of_decision"]=pd.to_datetime(cases_2013["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2013["date_of_filing"]=pd.to_datetime(cases_2013["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2013= cases_2013[cases_2013['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2013= cases_2013[cases_2013['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2013["decision_time"]=cases_2013["date_of_decision"]-cases_2013["date_of_filing"]
state_code_2013=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2013=state_code_2013[state_code_2013["year"]==2013]
state_code_2013.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2013.sort_values(by="state_code",inplace=True)
state_code_2013.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2013=pd.merge(cases_2013,state_code_2013,on='state_code')
df_2013=cases_2013.groupby('state_code',as_index=False)["decision_time"].mean()
df_2013=pd.merge(df_2013,state_code_2013,on='state_code')
df_2013

    state_code                decision_time         state_name
0            1  572 days 22:16:54.270397400        Maharashtra
1            2  708 days 17:44:58.294464952     Andhra Pradesh
2            3  373 days 05:07:23.028961804          Karnataka
3            4  590 days 09:39:04.876986864             Kerala
4            5  606 days 15:06:03.416421040   Himachal Pradesh
5            6  522 days 01:59:32.171169400              Assam
6            7  764 days 15:30:23.995647056          Jharkhand
7            8  825 days 22:36:55.256131768              Bihar
8            9  633 days 00:20:04.991318232          Rajasthan
9           10  734 days 18:31:57.652934016         Tamil Nadu
10          11  895 days 02:35:34.010734624             Orissa
11          12  698 days 23:51:06.921972232  Jammu and Kashmir
12          13  702 days 04:07:04.546319800      Uttar Pradesh
13          14  570 days 12:55:34.395161008            Haryana
14          15  425 days 04:15:43.390574568        Uttarakhand
15          16  652 days 02:43:12.134161232        West Bengal
16          17  484 days 17:24:25.434440360            Gujarat
17          18  905 days 09:13:05.005129824       Chhattisgarh
18          19  226 days 01:53:39.202603744            Mizoram
19          20  580 days 09:45:32.486019312            Tripura
20          21  445 days 17:54:54.276923080          Meghalaya
21          22  520 days 19:05:26.247895144             Punjab
22          23  560 days 16:59:49.282036960     Madhya Pradesh
23          24  114 days 13:00:51.958762886             Sikkim
24          25  452 days 08:57:32.194431336            Manipur
25          26  571 days 08:06:03.291002184              Delhi
26          27  475 days 17:19:56.234050464         Chandigarh
27          29  691 days 07:31:15.649198680          Telangana
28          30  303 days 23:07:10.971428572                Goa
29          31  295 days 12:29:30.237239396      Diu and Daman
30          32  534 days 08:20:20.338983048     DNH at Silvasa
31          33 2001 days 02:31:34.736842112             Ladakh

In [3]:
from pandas.core.generic import Axis
cases_2014=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2014.csv")
cases_2014.drop(cases_2014.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2014["date_of_decision"]=pd.to_datetime(cases_2014["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2014["date_of_filing"]=pd.to_datetime(cases_2014["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2014= cases_2014[cases_2014['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2014= cases_2014[cases_2014['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2014["decision_time"]=cases_2014["date_of_decision"]-cases_2014["date_of_filing"]
state_code_2014=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2014=state_code_2014[state_code_2014["year"]==2014]
state_code_2014.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2014.sort_values(by="state_code",inplace=True)
state_code_2014.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2014=pd.merge(cases_2014,state_code_2014,on='state_code')
df_2014=cases_2014.groupby('state_code',as_index=False)["decision_time"].mean()
df_2014=pd.merge(df_2014,state_code_2014,on='state_code')
df_2014

    state_code               decision_time         state_name
0            1 479 days 18:39:58.686739488        Maharashtra
1            2 540 days 20:28:20.226663920     Andhra Pradesh
2            3 299 days 00:23:32.144245552          Karnataka
3            4 455 days 11:46:26.993861080             Kerala
4            5 464 days 03:51:28.201892744   Himachal Pradesh
5            6 471 days 05:28:30.709903592              Assam
6            7 495 days 02:15:26.118704360          Jharkhand
7            8 528 days 00:07:39.859169472              Bihar
8            9 522 days 11:50:33.947813024          Rajasthan
9           10 526 days 23:20:48.099718928         Tamil Nadu
10          11 703 days 21:13:20.825392224             Orissa
11          12 587 days 06:55:30.783261240  Jammu and Kashmir
12          13 510 days 05:16:25.373723280      Uttar Pradesh
13          14 419 days 13:36:56.690367488            Haryana
14          15 328 days 12:35:57.466680880        Uttarakhand
15          16 581 days 07:20:26.587138432        West Bengal
16          17 338 days 04:55:56.760131528            Gujarat
17          18 396 days 11:42:32.101647988       Chhattisgarh
18          19 481 days 17:47:57.323420072            Mizoram
19          20 524 days 23:52:32.036869392            Tripura
20          21 223 days 09:33:45.309491060          Meghalaya
21          22 408 days 05:16:31.895788796             Punjab
22          23 424 days 00:43:54.582990856     Madhya Pradesh
23          24 103 days 04:16:01.955193483             Sikkim
24          25 154 days 00:28:49.937530034            Manipur
25          26 510 days 06:25:06.120193976              Delhi
26          27 372 days 08:49:13.629770712         Chandigarh
27          29 580 days 03:21:29.010326680          Telangana
28          30 259 days 10:44:56.108388584                Goa
29          31 288 days 05:11:16.363636364      Diu and Daman
30          32 598 days 00:18:51.524789520     DNH at Silvasa
31          33          1457 days 06:13:20             Ladakh

In [4]:
from pandas.core.generic import Axis
cases_2015=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2015.csv")
cases_2015.drop(cases_2015.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2015["date_of_decision"]=pd.to_datetime(cases_2015["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2015["date_of_filing"]=pd.to_datetime(cases_2015["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2015= cases_2015[cases_2015['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2015= cases_2015[cases_2015['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2015["decision_time"]=cases_2015["date_of_decision"]-cases_2015["date_of_filing"]
state_code_2015=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2015=state_code_2015[state_code_2015["year"]==2015]
state_code_2015.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2015.sort_values(by="state_code",inplace=True)
state_code_2015.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2015=pd.merge(cases_2015,state_code_2015,on='state_code')
df_2015=cases_2015.groupby('state_code',as_index=False)["decision_time"].mean()
df_2015=pd.merge(df_2015,state_code_2015,on='state_code')
df_2015

    state_code                decision_time         state_name
0            1  375 days 07:43:16.423195652        Maharashtra
1            2  451 days 19:59:46.369168360     Andhra Pradesh
2            3     250 days 04:56:35.337643          Karnataka
3            4  376 days 02:31:13.880036704             Kerala
4            5  311 days 11:47:47.705625912   Himachal Pradesh
5            6  380 days 10:06:01.889482252              Assam
6            7  358 days 11:53:43.329143612          Jharkhand
7            8  376 days 22:15:31.330314588              Bihar
8            9  423 days 23:33:01.259985512          Rajasthan
9           10  412 days 10:12:22.617643364         Tamil Nadu
10          11     457 days 05:58:58.165959             Orissa
11          12  350 days 17:12:38.896065768  Jammu and Kashmir
12          13  356 days 12:22:28.894833756      Uttar Pradesh
13          14  330 days 13:38:48.840028856            Haryana
14          15  338 days 05:44:14.801762116        Uttarakhand
15          16  456 days 06:56:10.643747008        West Bengal
16          17  294 days 17:35:42.560876716            Gujarat
17          18  292 days 06:59:11.071035848       Chhattisgarh
18          19  436 days 15:34:03.243243240            Mizoram
19          20  427 days 23:37:03.269847256            Tripura
20          21  168 days 06:45:39.033457250          Meghalaya
21          22  342 days 11:13:23.870864488             Punjab
22          23  346 days 19:52:33.127053784     Madhya Pradesh
23          24  114 days 09:39:39.661016950             Sikkim
24          25  140 days 21:24:08.845962644            Manipur
25          26  465 days 16:52:33.223036648              Delhi
26          27  342 days 20:38:52.303501668         Chandigarh
27          29  498 days 16:20:07.368538576          Telangana
28          30  280 days 08:00:15.062346884                Goa
29          31  214 days 15:43:36.318785580      Diu and Daman
30          32  458 days 13:22:47.486122128     DNH at Silvasa
31          33 1115 days 19:26:53.793103456             Ladakh

In [5]:
from pandas.core.generic import Axis
cases_2016=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2016.csv")
cases_2016.drop(cases_2016.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2016["date_of_decision"]=pd.to_datetime(cases_2016["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2016["date_of_filing"]=pd.to_datetime(cases_2016["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2016= cases_2016[cases_2016['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2016= cases_2016[cases_2016['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2016["decision_time"]=cases_2016["date_of_decision"]-cases_2016["date_of_filing"]
state_code_2016=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2016=state_code_2016[state_code_2016["year"]==2016]
state_code_2016.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2016.sort_values(by="state_code",inplace=True)
state_code_2016.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2016=pd.merge(cases_2016,state_code_2016,on='state_code')
df_2016=cases_2016.groupby('state_code',as_index=False)["decision_time"].mean()
df_2016=pd.merge(df_2016,state_code_2016,on='state_code')
df_2016

    state_code               decision_time         state_name
0            1 264 days 04:11:57.890240164        Maharashtra
1            2 346 days 13:25:23.855303144     Andhra Pradesh
2            3 185 days 13:20:18.326069332          Karnataka
3            4 285 days 21:39:01.789259696             Kerala
4            5 235 days 21:21:13.936850724   Himachal Pradesh
5            6 288 days 22:27:50.050923784              Assam
6            7 254 days 07:32:39.589495096          Jharkhand
7            8 254 days 06:26:46.386184988              Bihar
8            9 308 days 00:01:32.283170424          Rajasthan
9           10 250 days 10:35:26.213382816         Tamil Nadu
10          11 274 days 21:18:54.580816264             Orissa
11          12 354 days 07:14:34.171840404  Jammu and Kashmir
12          13 239 days 20:19:30.478349376      Uttar Pradesh
13          14 233 days 14:09:29.492192952            Haryana
14          15 261 days 18:34:54.256946548        Uttarakhand
15          16 330 days 03:49:30.794472824        West Bengal
16          17 195 days 05:21:14.317062064            Gujarat
17          18 200 days 15:10:45.573171250       Chhattisgarh
18          19 455 days 19:21:05.684210528            Mizoram
19          20 320 days 15:16:59.166057060            Tripura
20          21 126 days 23:02:00.138089758          Meghalaya
21          22 261 days 07:58:37.036172696             Punjab
22          23 221 days 16:48:29.330905780     Madhya Pradesh
23          24  97 days 19:27:58.099009901             Sikkim
24          25 114 days 12:10:30.788485608            Manipur
25          26 313 days 23:49:49.653180200              Delhi
26          27 314 days 22:02:19.340540960         Chandigarh
27          29 352 days 02:03:06.057794544          Telangana
28          30 213 days 11:45:28.904653584                Goa
29          31 166 days 15:10:45.689112650      Diu and Daman
30          32 401 days 03:31:50.934393640     DNH at Silvasa
31          33           681 days 21:33:45             Ladakh

In [6]:
from pandas.core.generic import Axis
cases_2017=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2017.csv")
cases_2017.drop(cases_2017.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2017["date_of_decision"]=pd.to_datetime(cases_2017["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2017["date_of_filing"]=pd.to_datetime(cases_2017["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2017= cases_2017[cases_2017['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2017= cases_2017[cases_2017['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2017["decision_time"]=cases_2017["date_of_decision"]-cases_2017["date_of_filing"]
state_code_2017=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2017=state_code_2017[state_code_2017["year"]==2017]
state_code_2017.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2017.sort_values(by="state_code",inplace=True)
state_code_2017.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2017=pd.merge(cases_2017,state_code_2017,on='state_code')
df_2017=cases_2017.groupby('state_code',as_index=False)["decision_time"].mean()
df_2017=pd.merge(df_2017,state_code_2017,on='state_code')
df_2017

    state_code               decision_time         state_name
0            1 166 days 19:06:47.709992702        Maharashtra
1            2 210 days 02:44:02.038176860     Andhra Pradesh
2            3 117 days 17:52:18.389269370          Karnataka
3            4 218 days 09:54:26.891113168             Kerala
4            5 134 days 06:48:09.504667896   Himachal Pradesh
5            6 156 days 05:30:58.961207296              Assam
6            7 135 days 16:52:19.136795904          Jharkhand
7            8 169 days 10:09:36.046197832              Bihar
8            9 114 days 20:15:01.930567858          Rajasthan
9           10 147 days 18:31:18.292828774         Tamil Nadu
10          11 195 days 15:08:14.061128648             Orissa
11          12 201 days 20:31:04.564131038  Jammu and Kashmir
12          13 126 days 19:36:54.168452250      Uttar Pradesh
13          14 175 days 04:10:56.642936474            Haryana
14          15 169 days 20:58:55.902707904        Uttarakhand
15          16 206 days 04:20:07.593375214        West Bengal
16          17 148 days 05:25:24.725377258            Gujarat
17          18 116 days 03:26:07.034601086       Chhattisgarh
18          19 183 days 00:10:09.523809524            Mizoram
19          20 244 days 18:15:23.322259136            Tripura
20          21  76 days 01:04:41.170762248          Meghalaya
21          22 149 days 12:40:54.647081172             Punjab
22          23 131 days 18:25:54.177168666     Madhya Pradesh
23          24  82 days 12:03:54.505546377             Sikkim
24          25  79 days 21:00:45.661053386            Manipur
25          26 195 days 20:42:21.361564254              Delhi
26          27 230 days 09:11:42.234078028         Chandigarh
27          29 222 days 15:24:58.418656868          Telangana
28          30 120 days 23:07:04.913271480                Goa
29          31 119 days 23:30:25.417201540      Diu and Daman
30          32 314 days 10:53:49.235880400     DNH at Silvasa
31          33 318 days 00:05:49.797570852             Ladakh

In [7]:
from pandas.core.generic import Axis
cases_2018=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/cases_2018.csv")
cases_2018.drop(cases_2018.columns[[0,1,3,4,5,6,7,8,9,10,11,12,13,16,17,18]],axis=1,inplace=True)
cases_2018["date_of_decision"]=pd.to_datetime(cases_2018["date_of_decision"],format="%Y-%m-%d",errors='coerce')
cases_2018["date_of_filing"]=pd.to_datetime(cases_2018["date_of_filing"],format="%Y-%m-%d",errors='coerce')

cases_2018= cases_2018[cases_2018['date_of_decision'].between('1980-01-01', '2023-01-01')]
cases_2018= cases_2018[cases_2018['date_of_filing'].between('1980-01-01', '2023-01-01')]
cases_2018["decision_time"]=cases_2018["date_of_decision"]-cases_2018["date_of_filing"]
state_code_2018=pd.read_csv("/content/drive/Shareddrives/Precog/Precog/Key/cases_state_key.csv")
state_code_2018=state_code_2018[state_code_2018["year"]==2018]
state_code_2018.drop(["year","pc11_state_name","pc11_state_id"],axis=1,inplace=True)
state_code_2018.sort_values(by="state_code",inplace=True)
state_code_2018.reset_index(drop=True,inplace=True)
from pandas.core.reshape.merge import merge
cases_2018=pd.merge(cases_2018,state_code_2018,on='state_code')
df_2018=cases_2018.groupby('state_code',as_index=False)["decision_time"].mean()
df_2018=pd.merge(df_2018,state_code_2018,on='state_code')
df_2018

    state_code               decision_time         state_name
0            1  78 days 02:01:22.952282557        Maharashtra
1            2  99 days 00:45:31.052351272     Andhra Pradesh
2            3  63 days 07:25:43.841777296          Karnataka
3            4 160 days 10:35:41.407997418             Kerala
4            5  36 days 18:57:31.236794131   Himachal Pradesh
5            6  84 days 18:28:17.454162646              Assam
6            7  35 days 13:29:36.655086540          Jharkhand
7            8  69 days 04:06:46.070136511              Bihar
8            9  48 days 06:47:53.512052264          Rajasthan
9           10  60 days 06:24:14.735649912         Tamil Nadu
10          11  88 days 17:51:36.470823142             Orissa
11          12  79 days 13:07:39.560193813  Jammu and Kashmir
12          13  65 days 22:30:59.381002698      Uttar Pradesh
13          14  96 days 21:37:17.729220364            Haryana
14          15  88 days 10:40:50.834580408        Uttarakhand
15          16  88 days 07:44:56.199894722        West Bengal
16          17 114 days 04:14:47.118119106            Gujarat
17          18  42 days 02:55:47.087188242       Chhattisgarh
18          19 127 days 01:37:19.631336406            Mizoram
19          20 149 days 02:01:32.001893044            Tripura
20          21  53 days 10:22:27.305389222          Meghalaya
21          22  87 days 01:16:40.288228658             Punjab
22          23  43 days 12:49:42.601135516     Madhya Pradesh
23          24  47 days 20:35:26.835066865             Sikkim
24          25  48 days 14:55:33.981079008            Manipur
25          26 108 days 14:04:45.169389028              Delhi
26          27 205 days 04:12:55.460968464         Chandigarh
27          29  98 days 07:11:52.832684286          Telangana
28          30  54 days 12:18:55.040453749                Goa
29          31  75 days 08:03:30.218978102      Diu and Daman
30          32 176 days 15:47:25.608628660     DNH at Silvasa
31          33 129 days 23:46:41.847575058             Ladakh